doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='javascripts/libs.js')
    script(src='javascripts/templates.js')
    script(src='javascripts/app.js')

    script(src='//localhost:35729/livereload.js')

  body
    h1 Express